body {
    margin: 0;
    background-image: url("../images/background.png");
}

.container {
    width: 960px;
    margin: auto;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
}

.header-heading-container {
    /*float: left;*/
    width: 960px;
    /*margin: auto;*/
}

.header-heading {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 30px;
    margin-top: auto;
}

.header-right {
    text-align: right;
}

/*.header-text {
    width: 960px;
    margin: auto;
}*/

header {
    width: 100%;
    background: #ffffff;
    padding: 30px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc;
}

header {
    white-space: nowrap;
}

   /* The problem here is that for some reason, by displaying everything within the header div in line,
   we've made it impossible to set the width of individual elements/discrete groups of elements within that div.*/
header * {
    display: inline;
}

.footer {
    
}